a, a:visited {
    border: 1px solid white;
    color: #fff;
    background-color: #000;
    padding: 4px;
    border-radius: 8px;
    text-decoration: none;

}
a:hover {
    background-color: rgb(114, 114, 133);
}
body {
    background-color: #333;
}